*{
    margin: 0;
    padding: 0;
}

.title_div{
    margin: auto;
    max-width: none;
    background-image: linear-gradient(#395ba9,#FFEBB7);
}

.main_title{
    text-align: center;
    color: #a83900;
}

body{
    background-color: #FFEBB7;
}