*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    border-style: solid;
    border-color: orange;
    border-width: 15px;
}

#main{
    margin: 2% 8%;
    display: flex;
    flex-direction: column;
}

#navigation_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px;
    padding-bottom: 20px;
    border-bottom: thin solid white;
}

#logo{
    width: 150px;
    margin: 0px 0px 0px 20px;
}

#navigation_items{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation_item{
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0px 30px;
    padding: 5px;
    text-decoration: none;
}

.navigation_item:hover{
    font-family: 'Montserrat', sans-serif;
    width: fit-content;
    height: fit-content;
    color: black;
    background-color: white;
    border-radius: 5px;
}

.navigation_item:active{
    font-family: 'Montserrat', sans-serif;
    width: fit-content;
    height: fit-content;
    color: black;
    background-color: white;
    border-radius: 5px;
}

#nav_current{
    font-family: 'Montserrat', sans-serif;
    width: fit-content;
    height: fit-content;
    color: black;
    background-color: white;
    border-radius: 5px;
}

h1{
    margin: 25px 0px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

h2{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

p{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.content{
    display: flex;
    flex-direction: column;
}

.content_item{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2%;
    border-radius: 10px;
    background-color: #252525;
    width: inherit;

}

h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    padding: 0px 7px;
    border-left: thin white solid;
    border-right: thin white solid;
}

a:visited{
    color: gray;
}

#container{
    position: relative;
    margin: 1% 8%;
}

#img1{
    position: absolute;
    z-index: 2;
    top: 12%;
    left: 300px;
}

#img2{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

#additional{
    display: flexbox;
    flex-direction: column;
}

#additional_row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.volume_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #252525;
    border-radius: 10px;
    padding-bottom: 5px;
}

.volume_img{
    height: 100px;
    width: 200px;
}

.volume_title{
    text-align: center;
    inline-size: 175px;
    object-fit: cover;
    overflow: visible;
    word-wrap: break-word;
    hyphens: manual;
}